.center.jumbotron
  %h1 Welcome to the Upgrade Season App!
  %h2
    Home page for
    %a{:href => "https://www.upgradeseason.com/"} Upgrade Season
  %h3 This is where we share, learn, and grow together!
  = link_to "Sign up now!", signup_path, class: "btn btn-lg btn-success"
= link_to image_tag('upgrade_season_logo.png', alt: 'Upgrade Season logo', width: '200'), 'https://www.upgradeseason.com/'
