- provide(:title, "About")
%h1 It's Upgrade Season!

%p
  You can see how the
  %b Upgrade Season
  app works by viewing these user profiles.
%p
  %a{:href => "https://www.upgradeseason.com/users/1"} Bruce Lee
%p
  %a{:href => "https://www.upgradeseason.com/users/2"} Jocko Willink
%p After signing up with an email address, users can make short posts, share images and gifs, and your feed shows the posts of all users that you follow.
%p
  %b Upgrade Season
  is about upgrading our life while acknowledging that we
  %b love
  ourselves just the way we are. Perhaps we could do better in our personal or professional lives. This could be a hobby, an aspect of our business, or a personal project.
%p A Power question to ask yourself, when considering what you do with your time
%p
  %b How well is that working out for you?
%p
  Getting the knowledge and applying it is the key to success, with the ultimate goal of having a better life, even if
  it is something as simple as enjoying your relaxation time a bit more.
%p
  As a starting point, here are 9 parts of life, so you could pick any one or more of these, and rate yourself on a 1 through 10 scale. Then create a plan to improve that aspect, and then act according to the plan you created.
%ul
  %h3
    %b
      %li Health and physical well being
      %li Relationships
      %li Work
      %li Money
      %li Learning and Growth
      %li Spiritual fulfillment
      %li Fun and enjoyment
      %li Helping others
      %li Love
%p
  We invite you to make a short post (we limit the length of each post to 160 characters) to document and share whatever you would like! After signing up click the
  %a{:href => "https://www.upgradeseason.com/users"} Users
  link at the top of the screen to see all users at Upgrade Season, which you can then follow.
%p
  %a{:href => "https://www.upgradeseason.com/signup"} Sign up
  to join our community, it's
  = succeed "!" do
    %b free
%p
  We can make a better life for ourselves and the special people we keep around us.
%p
%h3
  It’s Upgrade Season!
