<% provide(:title, "About") %>
<h1>Upgrade Season App!</h1>

<p>Upgrade Season is about upgrading some aspect of our lives, all the while acknowledging that we love ourselves just the way we are. Perhaps we could do better in our personal or professional lives. This could be a hobby, an aspect of our business, or a personal project.</p>

<p>A Power question you can ask yourself is: How well is that working out for you?</p>

<p>Getting knowledge and applying it is the key. Getting feedback from our experience is basically applying the
scientific method in our own life. We experiment and get feedback, this is a loop, and we can learn from this
experience, and do better the next time, with the ultimate goal of having a better life, even if it is something as
simple as enjoying your relaxation time more.</p>

<p>
We can learn and grow. Direct experience is key as is learning from the wisdom of others. We can make a better life for ourselves and those special people we keep around us.
</p>

<p>
It’s Upgrade Season!
</p>
