<% provide(:title, "Contact") %>
<h1>Upgrade Season App!</h1>
<p>We are here to help!</p>
<p>Contact us anytime by sending an email to <a href="mailto:support@upgradeseason.com">support@upgradeseason.com</a></p>
