- provide(:title, "Help")
%h1 Upgrade Season App!
%p
  %b We are here to help!
%p
  To use the Upgrade Season app, begin by #{link_to "signing up", signup_path}, it’s free!
%p Then you can make posts, follow other users, and read your feed. Your feed shows the posts of the other users that you follow.
%p It’s simple, fun, and free to use.
%p
  If you have any questions, you can contact us anytime by sending an email to
  %a{:href => "mailto:support@upgradeseason.com"} support@upgradeseason.com
