<div class="center jumbotron">
  <h1>Welcome to the Upgrade Season App!</h1>

  <h2>
    Home page for 
    <a href="https://www.upgradeseason.com/">Upgrade Season</a>
    <p>This is where we share, learn, and grow together!</p>
  </h2>

  <%= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag('upgrade_season_logo.png', alt: 'Upgrade Season logo', width: '200'),
                      'https://www.upgradeseason.com/'%>
<%= link_to image_tag('mountain_hot_springs.png', alt: 'Mountain Hot Springs', width: '600'),
                      'https://www.upgradeseason.com/'%>
