<% provide(:title, "Forgot Password") %>
<h1>Forgot Password</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with(url: password_resets_path, scope: :password_reset, local: true) do |f| %>
    <%# Scope is the resource :password_reset that's a symbol that is the kind of object we're creating along with the URL to create the form %>
    <%# Is not an ActiveRecord path so we tell Rails which path to use. %>
    <%# This is how you make a form_with that isn't an ActiveRecord object. %>
    <%# Form issues POST request to the password_resets_path that responds to a POST request. %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.submit "Submit", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
