<%# Need active_relationship object in memory since creating new relationships %>
<%# Issues POST request to the relationships controller %>
<%# Create this thing in memory %>
<%# Analog to users controller new %>
<%# Hidden field pulls out user to be followed %>
<%# Pull it out with params of followed_id %>
<%= form_with(current_user.active_relationships.build) do |f| %>
  <div><%= hidden_field_tag :followed_id, @user.id </div>
  <%= f.submit "Follow", class: "btn btn-primary" %>
<% end %>
