<% if @user.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger"> <%# alert-danger are bootstrap classes %>
      The form contains <%= pluralize(@user.errors.count, "error") %>.
    </div>
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
    <%# ^^^ error messgages rely on @user.errors.full_messages(but only applies to ActiveRecord object %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
