<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "upgrade season", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav pull-right">
        <li><%= link_to "Home",   root_path %></li>
        <li><%= link_to "Help",   help_path %></li>
        <% if logged_in? %>
        
        <% else %>
        <li><%= link_to "Log in", "#" %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
